body{
  background-color: #F7F8E0;
}
.pages{
  background-color: #FAFAFA;
}
.container{
  border: 2px solid;
}

/*마이페이지*/
.profileCon{
  float: left;
  margin: 0 10px 10px 10px;
}
.profileBtn{
  float: left;
}
.profileName{
  margin: 0px 0 3px 0;
  padding: 5px 0 0 0;

}
.passwordChange{
  color:black;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
  
}
.registerOut{
  color: white;
  background-color: red;
  margin-top: 2px;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}