body{
  background-color: #F7F8E0;
}
.pages{
  background-color: #FAFAFA;
}

/*영역 확인용 css
.container{
  border: 1px solid;
}*/

/*마이페이지*/
.profileCon{
  float: left;
  margin: 0 10px 10px 10px;
}
.profileBtn{
  float: left;
}
.profileName{
  margin: 0px 0 3px 0;
  padding: 5px 0 0 0;

}
.passwordChange{
  color:black;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
  
}
.registerOut{
  color: white;
  background-color: red;
  margin-top: 2px;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*푸터*/
.footer-frame{
  width: 100%;
  position : absolute;
}

/* model's */
/*모달 영역(모달박스+회색영역)*/
.modelbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/*모달박스*/
.modelbox > .modelContent {
  width: 600px;
  height: 450px;
  border-radius: 15px;
  /*background-image: url('../public/assets/scroll.jpg');*/
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modelbox > .modelContent > .closeModel {
  float: right;
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  color: #5d5d5d;
  font-size: 30px;
  border: 0;
  background-color: transparent;
}

.modelbox > .modelContent > .contents> .title {
  margin: 50px 0px 0px 20px;
  font-size: 30px;
  font-weight: 600;
}
.modelbox > .modelContent > .contents> .views {
  margin: 10px 0px 0px 30px;
  font-size: 15px;
}

.modelbox > .modelContent > .contents> .user_content {
  margin: 50px 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
}
.modelbox > .modelContent > .contents> .users_total {
  border-top: solid 1px #BAB6B6;
  margin: 0px 30px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;

}
/*모달박스 태그 스타일*/
.modelbox > .modelContent > .contents> .tags {
  margin: 10px 30px;
  font-size: 15px;
  font-weight: 600;
}
.modelbox > .modelContent > .contents> .tags> .tag {
  background-color: #FFCC00;
  margin: 0px 10px
}
.modelbox > .modelContent > .btn_wrapper{
  margin-left: 80%;
  margin-top: 50px;
}

/*버튼(button)*/
.MyButton{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.MyButton:hover{
  background-color: darkblue;
}


/*모달에딧(Editor)*/



.modal form {
  display: flex;
  flex-direction: column;
}

.modal> label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal input,
.modal textarea,
.modal select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  font-size: 16px;
  background-color: #E0E0E0;
}
.modal input:hover{
  background-color: white;
  border: 1px solid black;
}
.modal textarea:hover{
  background-color: white;
  border: 1px solid black;
}

.modal select:hover{
  background-color: white;
  border: 1px solid black;
}

button[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: darkblue;
}

/*헤더(header)*/
.header_main{
  min-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5ff6e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header_main > .logo{
  font-size: 50px;
  padding-left: 10px;
}

.header_main > .logo > img {
  width: 70px;
  height: 70px;
  padding-right: 5px;
  position: relative;
  top: 10px; 
}
.header_main > .logo b{
  color: #5e52ff;
}
.right_col {
  display: flex;
  align-items: center;
}

.header_main >  .right_col> .login_user{
  margin-right: 10px;
}

.header_main >  .right_col> .MyButton_login{
  background-color:transparent;
  color: black;
}
.header_main >  .right_col> .MyButton_mypage{
  background-color:transparent;
  color: black;
  margin-right: 10px;
}
.header_main >  .right_col> .MyButton_logout{
  background-color:transparent;
  color: black;
}



/*아이템(item)*/
.Item> .info_wrapper {
  text-align: left;
  background-color: white;
  border: solid 2px #7ca145;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px 0px;
}
.Item > .info_wrapper> .post_date{
  color: #9b9b9b;
}
.Item> .info_wrapper> .post_title {
  font-size: 20px;
  font-weight: 600;
}
.Item> .info_wrapper> .post_content_preview {
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.Item> .info_wrapper> .post_tegs {
}





/*리스트(list)*/
.HomeMain{
  width: 70%;
  height: 800px;
  background-color: #e9e8e8;
  padding: 0px 25px;
  overflow:scroll;
}
.listCotents{
  padding-top: 0px;
}

/*포스트(Post)*/
