body{
  background-color: #F7F8E0;
}
.pages{
  background-color: #FAFAFA;
}

/*영역 확인용 css
.container{
  border: 1px solid;
}*/

/*마이페이지*/
.pages {
  position: relative;
  flex-direction: column;
  padding-left: 5%;
}
.mypageProfile{
  padding-top: 30px;
  padding-bottom: 80px;
}
.profileCon{
  float: left;
  margin: 0 10px 10px 10px;
}
.profileBtn{
  float: left;
}
.profileName{
  margin: 0px 0 3px 0;
  padding: 5px 0 0 0;

}
.passwordChange{
  color:black;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
  
}
.registerOut{
  color: white;
  background-color: red;
  margin-top: 2px;
  padding: 2px 10px;
  text-align: center;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.myPageBoard {
  width: 80%;
  min-width: 800px;
  border-top: solid 2px #bebebe;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: auto;

}




/*푸터*/
.footer-frame{
  width: 100%;
  position : absolute;
}

/* model's */
/*모달 영역(모달박스+회색영역)*/
.modelbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/*모달박스*/
.modelbox > .modelContent {
  width: 600px;
  height: 450px;
  border-radius: 15px;
  /*background-image: url('../public/assets/scroll.jpg');*/
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modelbox > .modelContent > .closeModel {
  float: right;
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  color: #5d5d5d;
  font-size: 30px;
  border: 0;
  background-color: transparent;
}

.modelbox > .modelContent > .postContents> .title {
  margin: 50px 0px 0px 20px;
  font-size: 30px;
  font-weight: 600;
}
.modelbox > .modelContent > .postContents> .views {
  margin: 10px 0px 0px 30px;
  font-size: 15px;
}

.modelbox > .modelContent > .postContents> .user_content {
  margin: 50px 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
}
.modelbox > .modelContent > .postContents> .users_total {
  border-top: solid 1px #BAB6B6;
  margin: 0px 30px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;

}


/* post 모달*/
.modal > .postModal> .postBtn{
  padding-left: 80%;
}
.modal > .postModal> .addtag{
  background-color: red;
}



/*모달박스 태그 스타일*/
.modelbox > .modelContent > .postContents> .tags {
  margin: 10px 30px;
  font-size: 15px;
  font-weight: 600;
}
.modelbox > .modelContent > .postContents> .tags> .tag {
  background-color: #FFCC00;
  margin: 0px 10px
}
.modelbox > .modelContent > .btn_{
  margin-left: 80%;
  margin-top: 50px;
}

/*버튼(button)*/
.MyButton{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.MyButton:hover{
  background-color: darkblue;
}


/*모달에딧(Editor)*/



.modal form {
  display: flex;
  flex-direction: column;
}

.modal> label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal input,
.modal textarea,
.modal select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  font-size: 16px;
  background-color: #E0E0E0;
}
.modal input:hover{
  background-color: white;
  border: 1px solid black;
}
.modal textarea:hover{
  background-color: white;
  border: 1px solid black;
}

.modal select:hover{
  background-color: white;
  border: 1px solid black;
}



button[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: darkblue;
}



/*헤더(header)*/
.header_main{
  min-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5ff6e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header_main > .logo{
  font-size: 50px;
  padding-left: 10px;
}

.header_main > .logo > img {
  width: 70px;
  height: 70px;
  padding-right: 5px;
  position: relative;
  top: 10px; 
}
.header_main > .logo b{
  color: #5e52ff;
}

.header_main > .logo:hover{
  cursor: pointer;
}
.right_col {
  display: flex;
  align-items: center;
}

.header_main >  .right_col> .login_user{
  margin-right: 10px;
}

/* 버튼 css */

.MyButton_login,
.MyButton_logout,
.MyButton_mypage,
.MyButton_editPost{
  background-color:transparent;
  color: black;
}
.MyButton_mypage{
  margin-right: 10px;
}

.MyButton_login:hover,
.MyButton_logout:hover,
.MyButton_mypage:hover,
.MyButton_editPost:hover{
  background-color: rgba(30, 39, 33, 0.2);
  color: white;
}

.MyButton_editPost{
  border-radius: 25px;
  background-color: #7ca145;
  font-weight: 700;
  margin-bottom: 5px;
}
.MyButton_editPost:hover{
  background-color: #5c7732;
  color: white;
  font-weight: 700;
}



/*아이템(item)*/
.contents .Item {
  min-width: 600px;
  display: flex;
  align-items: flex-start;
}
.Item> .info_wrapper {
  text-align: left;
  background-color: white;
  border: solid 2px #7ca145;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px 0px;

  flex: 1;
}
.Item> .info_wrapper:hover{
  cursor: pointer;
}
.Item > .info_wrapper> .post_date{
  color: #9b9b9b;
}
.Item> .info_wrapper> .post_title {
  font-size: 20px;
  font-weight: 600;
}
.Item> .info_wrapper> .post_content_preview {
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.contents .Item .btn_wrapper {
  margin-left: 85%;
}




/*리스트(list), 랭킹(ranking)*/
.HomeMain {
  display: flex;
  justify-content: space-between;
}

.HomeContainer {
  width: 70%;
  height: 800px;
  background-color: #e9e8e8;
  padding: 0px 25px;
  overflow: scroll;
}

.RankingContainer {
  width: 30%;
  height: 800px;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.real-time-ranking {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 2px #7ca145;;
  padding-bottom: 10px;
}

.real-time-ranking ol {
  list-style-type: decimal;
  margin: 10px 0 0 0;
  padding-left: 20px;
}

.real-time-ranking li {
  font-size: 16px;
  margin-bottom: 5px;
}


/*로그인(login)*/
.contents_login {
  text-align: center;
  margin-top: 30px;
}
.contents_login> .title{
  font-size: 30px;
  font-weight: 600;
  margin-left: 70px;
}
.contents_login>.contents> .inputId{
  border-top: solid 1px rgb(221, 221, 221);
}

.contents_login>.contents>.form-row {
  margin-bottom: 10px;
}

.contents_login>.contents>.form-row>.form-item {
  display: flex;
  align-items: center;
}

.contents_login>.contents>.form-row>.form-item> .form-input {
  width: 100%;
}
.contents_login>.contents>.form-row>.form-item> .input_Id{
  padding-top: 50px;
}


.contents_login>.contents>.form-row>.form-item> .form-input input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  
}

.form-input> .errorTxt {
  height: 30px;
  font-size: 13px;
  color: red;
}
.contents_register>.contents>.form-Row> .btn_Register,
.contents_register>.contents>.form-Row> .btn_getLogin,
.contents_login>.contents>.form-row> .btn_Login,
.contents_login>.contents>.form-row> .btn_Register{
  padding: 10px 20px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.btn_Login{
  margin-right: 10px;
}



/*회원가입(Register)*/
.modelbox> .registerBox{
  height: 600px;
}
.contents_register {
  text-align: center;
  margin-top: 30px;
}
.contents_register> .title{
  font-size: 30px;
  font-weight: 600;
  margin-left: 70px;
  padding-bottom: 10px;
}
.contents_register>.contents{
  border-top: solid 1px rgb(221, 221, 221);
}

.contents_register>.contents>.form-row {
  margin-bottom: 10px;
}
.contents_register>.contents>.topRegister {
  padding-top: 20px;
}

.contents_register>.contents>.form-row>.form-item {
  display: flex;
  align-items: center;
}

.contents_register>.contents>.form-row>.form-item> .form-input {
  width: 100%;
  margin-bottom: 10px
}
.contents_register>.contents>.form-row>.form-item> .input_Id{
  padding-top: 50px;
}
.buttonId{
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.contents_register>.contents>.form-row>.form-item> .form-input .inputId{
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}
.contents_register>.contents>.form-row>.form-item> .form-input>.registerId{
  width: 55%;
  margin-left: 70px;
}

.contents_register>.contents>.form-Row{
  margin-top: 30px;
}

.contents_register>.contents>.form-Row> .btn_Register{
  margin-right: 10px;
}

.contents_login>.contents>.form-row>.btn_Login:hover,
.contents_login>.contents>.form-row>.btn_Register:hover,
.contents_register>.contents>.form-Row>.btn_Register:not(:disabled):hover,
.contents_register>.contents>.form-Row>.btn_getLogin:hover,
.buttonId:hover {
  color: white;
  background-color: #9e9e9e;
}


/*포스트(Post), 수정(Editor)*/
.postContent {
  text-align: center;
  margin-top: 30px;
}
.postContent> .title{
  font-size: 30px;
  font-weight: 600;
  margin-left: 60px;
}
.postContent>.title_div{
  border-top: solid 1px rgb(221, 221, 221);
}


.postContent>.title_div,
.postContent>.content_div,
.postContent>.partyTotal_div,
.postContent>.tags_div
 {
  display: flex;
  align-items: center;
  padding-left: 30px;
}


.postContent>.title_div>input,
.postContent>.partyTotal_div>input,
.postContent>.tags_div> input{
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}
.postContent>.content_div> textarea{
  width: 60%;
  height: 150px;
  resize: none;
}


